*, *::before, *::after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html, body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  background-color: #fff;
}

nav{
  margin-top: 7%;
}


/*==================== = MENU LATERAL*/

.menu.lateral{
  width: 100%;
  max-width: 13em;
  position: absolute;
  z-index: 2;
  text-align: left;
  box-shadow: 
    0 0 0 1px rgba(0,0,3,.05),
    0 0 0 0 rgba(0,0,3,0);
}

.menu.lateral{
  height:20em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8em auto;
}

.menu.lateral .menu{
  padding: 1em 0;
}

.menu.lateral .enlace{
  font-size: 0.9em;
  padding: 0.7em 1em;
  width: 100%;
  padding-left: 3em;
  padding-left: calc(10% + 3em);
  font-weight: 300;
  box-shadow: inset 0 0 0 0 rgb(255,255,255);
  transition: 
    all ease-in-out .3s,
    box-shadow ease .3s .2s;
}

.menu.archivos.privados{
  box-shadow: inset 0 1px 0 0 rgb(235,235,235)
}

.menu.lateral .enlace:hover,
.menu.lateral .enlace:focus,
.menu.lateral .activo .enlace{
  outline: none;
  background-color: #fff;
  font-weight: 400;
  box-shadow: inset 0.2em 0 0 0 rgb(44,155,210);
}

.menu.lateral .enlace.icon-fa::before{
  position: absolute;
  left: 0;
  width: 3em;
  margin-left: 8%;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
}


.letra-azul-ita,
.menu.lateral .enlace:hover,
.menu.lateral .enlace:focus,
.atras:hover, .atras:focus
{ color: #FFE521 }


.menu.lateral
{ background-color: #FFE521; 
}



.acerca .icon-fa::before
{  content: '\f200'; }

.botones .icon-fa::before
{  content: '\f0f7'; }

.tipografias .icon-fa::before,
.icon-fa.destacado::after
{  content: '\f005'; }

.icon-fa.tarjetas::before,
.icon-fa-despues.tarjetas::after,
.tarjetas .icon-fa::before
{  content: '\f0f6'; }

li{
  padding: 3%;
}

input{
  display: inline-block;
  width: 100%;
}

a{
  display: inline-block;

}

.foot{
  margin-top: 50%;
}